<!--Evento-->
<div class="card shadow-sm mb-3 p-1">
  <div class="d-flex align-items-center gap-2  text-danger" style="margin-left: 10px;">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <b>
      Todos os campos &nbsp;
      <i class="fa-solid fa-asterisk"></i>
      &nbsp; são obrigatórios!
    </b>
  </div>
</div>

<div class="card shadow-sm">

  <form [formGroup]="form">
    <!-- <p>Form value: {{ form.value | json }}</p> -->
    <!-- <p>Form valid: {{ form.status | json }}</p> -->

    <div class="p-3">
      <!--Form Tema-->
      <div class="form-row">
        <div class="form-group col-md-12 mt-sm-3">
          <label>* Tema</label>
          <input type="text" class="form-control mt-1" [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}"
            formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório.
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>

      <!--Form Local e Data-->
      <div class="form-row d-md-flex gap-2">
        <div class="form-group col-md-8 mt-sm-3">
          <label>* Local</label>
          <input type="text" class="form-control mt-1" [ngClass]="{'is-invalid': f.local.errors && f.local.touched}"
            formControlName="local">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório.
          </div>
        </div>
        <div class="form-group col mt-sm-3">
          <label>* Data e Hora</label>
          <input type="datetime" class="form-control mt-1"
            [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}" bsDatepicker
            [bsConfig]="presetDatePicker" formControlName="dataEvento">
          <div class="invalid-feedback">
            Data e Hora são obrigatórios.
          </div>
        </div>
      </div>

      <!--Qtd, Telefone, Email e Imagem-->
      <div class="form-row d-md-flex gap-2">

        <!--Qtd Pessoas-->
        <div class="form-group col-md-2 mt-sm-3">
          <label>* Qtd Pessoas</label>
          <input type="text" class="form-control mt-1"
            [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched}" formControlName="qtdPessoas">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Qtd é obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            Qtd máxima de 1200 pessoas.
          </div>
        </div>

        <!--Telefone-->
        <div class="form-group col-md-3 mt-sm-3">
          <label>* Telefone</label>
          <input type="tel" class="form-control mt-1"
            [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}" formControlName="telefone"
            placeholder="(00) 0 0000-0000">
          <div class="invalid-feedback">
            Telefone é obrigatório.
          </div>
        </div>

        <!--E-mail-->
        <div class="form-group col-md-4 mt-sm-3">
          <label>* Email</label>
          <input type="text" class="form-control mt-1" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
            formControlName="email" placeholder="E-mail">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            Email é obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            E-mail inválido.
          </div>
        </div>

        <!--Imagem-->
        <div class="form-group col mt-sm-3">
          <label>* Imagem</label>
          <input type="text" class="form-control mt-1"
            [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched}" formControlName="imagemURL"
            placeholder="Imagem">
          <div class="invalid-feedback">
            Imagem é obrigatório.
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer p-2">
      <div class="d-flex">
        <div class="mr-a">
          <button class="btn btn-outline-secondary border" (click)="voltarEventos()" style="margin-right: 10px;">
            Voltar
          </button>
          <button class="btn btn-outline-secondary border" (click)="limpaForm()">
            Limpar Formulário
          </button>
        </div>
        <button [ngClass]="{'btn-danger': !form.valid}" class="btn btn-success" [disabled]="!form.valid"
          (click)="salvarEvento()">
          <!-- <span class="spinner-border spinner-border-sm" style="margin-right: 15px;"></s pan> -->
          Salvar Evento
        </button>
      </div>
    </div>

  </form>
</div>


<!-- LOTE -->
<div class="card rounded shadow-sm my-3" *ngIf="modoEditar">

  <!-- <p>Form value: {{ form.controls.lotes.value | json }}</p> -->
  <!-- <p>Form valid: {{ form.controls.lotes.status | json }}</p> -->

  <div class="p-3">

    <div class="d-flex border-bottom">
      <h2 class="mr-a">Lotes do Evento</h2>
      <h2>
        <i class="fas fa-money-bill-wave"></i>
      </h2>
    </div>

    <p>Clique em Lote para adicionar e preencher novos Lotes</p>

    <div class="form-row p-1">
      <button class="d-flex mb-3 p-2 btn btn-outline-primary" (click)="adicionarLote()">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1">Lote</b>
      </button>

      <div class="col" [formGroup]="form">
        <div formArrayName="lotes" *ngFor=" let lote of lotes.controls; let indice=index" class="card p-2 mb-3 shadow-sm">
          <fieldset [formGroupName]="indice" class="form-group">
            <legend class="d-flex justify-content-between capitalize p-2">
              {{ retornaTituloDoLote(lotes.get(indice+'.nome').value) }}

              <button class="p-2 btn btn-sm btn-outline-warning d-flex"
                (click)="removerLote(openModalTemplate, indice)"
              >
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Excluir</b>
              </button>
            </legend>

            <div class="row">
              <div class="form-group col-md-4 mb-2 ">
                <label>* Nome</label>
                <input [ngClass]="cssValidator(lote.get('nome'))" type="text" class="form-control"
                  formControlName="nome" placeholder="Lote">
              </div>

              <div class="form-group col-md-4 mb-2 ">
                <label>* Quantidade</label>
                <input [ngClass]="cssValidator(lote.get('quantidade'))" type="text" class="form-control"
                  formControlName="quantidade" placeholder="000">
              </div>

              <div class="form-group col-md-4 mb-2 ">
                <label>* Preço</label>
                <input [ngClass]="cssValidator(lote.get('preco'))" type="text"
                  class="form-control"
                  currencyMask 
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                  formControlName="preco" placeholder="R$ 0,00"
                >
              </div>

              <!-- <div class="form-group col-md-4 mb-2 ">
                <label>Data Início</label>
                <input type="text" class="form-control" formControlName="dataInicio" placeholder="01/01/2019">
              </div>

              <div class="form-group col-md-4 mb-3">
                <label>Data Fim</label>
                <input type="text" class="form-control" formControlName="dataFim" placeholder="01/01/2019">
              </div> -->
            </div>

          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-a border">
        Cancelar Alteração
      </button>
      <button 
        [ngClass]="{'btn-danger': !form.controls.lotes.valid }" class="btn btn-success" 
        [disabled]="!form.controls.lotes.valid" (click)="salvarLotes()">
        Salvar Lote
      </button>
    </div>
  </div>
</div>

<br>
<br>

<ng-template #openModalTemplate>
  <div class="modal-body text-center">
      <p>Tem certeza que quer deletar este Lote? {{ this.loteAtual.nome }}</p>
      <div class="d-flex gap-2 justify-content-center">
        <button type="button" class="btn btn-danger" (click)="confirmaDeleteLote()">Sim</button>
        <button type="button" class="btn btn-outline-secondary" (click)="declineDeleteLote()">Não</button>
      </div>
  </div>
</ng-template>
